@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html,body{
  background:#020617;
  max-width: 100vw;
  overflow-x: hidden;
}
body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
}

.wrapper{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: minmax(min-content,350px) 4fr;
  grid-template-rows: minmax(min-content,200px) 6fr;
  grid-template-areas: 
    "sidebar header"
    "sidebar content";
    
}

.header{
  grid-area: header;
  background: #0f172a;
}

.header-wrap{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: minmax(min-content,700px) 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas: 
    "search notif-name"
    "welcome create";
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.searchbar{
  grid-area: search;
  display: grid;
  grid-template-columns: min-content 500px;
  grid-template-rows: min-content;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-left: 20px;
}

input[type=text]{
  outline: none;
  margin: none;
  border: none;
  padding: 0px;
  text-decoration: none;
  border-radius: 50px;
  height: 35px;
  color: #020617;
  padding-left: 10px;
  font-size: 16px;
}

.searchbar > img{
  width: 35px;
  height: 35px;
}

.notif-name{
  display: grid;
  grid-template-columns: min-content min-content min-content;
  grid-area: notif-name;
  justify-content: right;
  align-items: center;
  gap: 20px;
  padding-right: 80px;
}

.notif-bell{
  width: 30px;
  height: 30px;
}
.profile-picture{
  width: 40px;
  height: 40px;
}

.profile-name{
  font-size: 24px;
  white-space: nowrap;
}
.sidebar{
  background-color: #1e3a8a;
  grid-area: sidebar;
}
.sidebar-list{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px repeat(2,min-content);
  grid-template-areas: 
    "title"
    "options1"
    "options2";
  height: 100%;
  gap: 50px;
  justify-items: left;
  align-items: center;
  padding-left: 20px;
}

a,span{
  color: #f1f5f9;
}
.sidebar-title{
  grid-area: title;
  display: grid;
  grid-template-columns: repeat(2,min-content);
  align-items: center;
  justify-items: left;
  gap: 20px;
  width: 100%;
  padding-right: 20px;
}
.sidebar-title > span{
  font-size: 36px;
  font-weight: 900;
}
.dashboard-icon{
  width: 50px;
  height: auto;
}

.dash-menu1{
  grid-area: options1;
  display: grid;
  grid-template-columns: 50px min-content;
  grid-template-rows: min-content;
  justify-items: left;
  align-items: center;
  font-size: 26px;
  font-weight: 900;
  gap: 20px;
}

.dash-menu1 img, .dash-menu2 img {
  justify-self: center;
  width: 35px;
  height: 35px;
}

.dash-menu2{
  grid-area: options2;
  display: grid;
  grid-template-columns: 50px min-content;
  grid-template-rows: min-content;
  justify-items: left;
  align-items: center;
  font-size: 26px;
  font-weight: 900;
  gap: 20px;
}