body{
  background-color: #393646;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.wrapper{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: minmax(min-content,400px) 4fr;
  grid-template-rows: minmax(min-content,200px) 6fr;
  grid-template-areas: 
    "sidebar header"
    "sidebar content";
    
}

.header{
  grid-area: header;
  background-color: #4F4557;
}

.sidebar{
  background-color: #6D5D6E;
  grid-area: sidebar;
}